body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
.site-header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
#profile-container {
    max-width: 300px;
    margin: 80px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}
#profile-image {
    width: 100%;
    height: auto;
}
#profile-name{
    text-align: center;
}
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }